.cont{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.animated {
    overflow: hidden;
    width: 11rem;
    white-space: nowrap;
}

.animated > * {
    font-weight: lighter;
    font-family: sans-serif;
    display: inline-block;
    position: relative;
    animation: 8s linear -10s infinite running move;
}

@keyframes move {
    0% {
    transform: translateX(0%);
    left: 100%;
    }
    25% {
        left: 75%;
    }
    75%{
        left: 25%;
    }
    100% {
        transform: translateX(-100%);
        left: 0%;
    }
}

.footer{
    box-shadow: 0 0 100px 10px rgba(0, 0, 0, 0.2);
}

.react-calendar{
    background: linear-gradient(azure,white);
    box-shadow: 0 0 100px 10px rgba(0, 0, 0, .3);
    margin: 0 auto;
    width: 90vw;
    max-width: 900px;
    height: auto;
    border-radius: 0.5em;
    font-family: sans-serif;
}

.react-calendar button{
    border-radius: 0.5em;
    font-size: 2em;
    height: 8vh;
    width: 8vw;
    font-weight: lighter;
    overflow: hidden;
}

.react-calendar button:enabled:hover,
.react-calendar button:enabled:focus{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
    background-color: azure;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
}

.react-calendar__tile--now{
    box-shadow: 0 1px 100px 0 rgba(0, 0, 0, 0.5);
    background-color: black;
    color: white;
}

.react-calendar__tile--now:hover{
    border: black solid 1px;
    color: black;
}

.react-calendar__navigation{
    box-shadow: 0px 12px 12px 0px rgba(0, 0, 255, .2);
    border-radius: 0.5em;
    background-color: azure;
    height: auto;
}

.react-calendar__navigation button{
    border-radius: 3em;
    white-space: nowrap;
}

.react-calendar__month-view__weekdays{
    font-size: 1vw;
    text-underline: none;
}

.typewriter {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    margin-bottom: 0.5em;
    padding: 0;
    letter-spacing: .15em;

    animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; border-width: 4px; }
}